<h1>Listing evaluations</h1>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Evaluated user</th>
      <th>Evaluator user</th>
      <th>Evaluated compentencies</th>
      <th>Evaluated goals</th>
      <th>Evaluated working conditions</th>
      <th>Evaluation date</th>
      <th>Observations evaluated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluations.each do |evaluation| %>
      <tr>
        <td><%= evaluation.evaluated_user %></td>
        <td><%= evaluation.evaluator_user %></td>
        <td><%= evaluation.evaluated_compentencies %></td>
        <td><%= evaluation.evaluated_goals %></td>
        <td><%= evaluation.evaluated_working_conditions %></td>
        <td><%= evaluation.evaluation_date %></td>
        <td><%= evaluation.observations_evaluated %></td>
        <td><%= link_to 'Show', evaluation %></td>
        <td><%= link_to 'Edit', edit_evaluation_path(evaluation) %></td>
        <td><%= link_to 'Destroy', evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation', new_evaluation_path %>
