<div class="container margin-top-20">
<% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "erro") %> encontrado:</h4>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= simple_form_for(@user) do |f| %>

    <div>
      <%= f.label "Nome: " %>
      <%= f.input :name_user, :label => false %>
    </div>

    <div>
      <%= f.label "Matrícula FUB: " %>
      <%= f.input :fub_registry, :label => false %>
    </div>

    <div>
      <%= f.label "Matrícula SIAPE: " %>
      <%= f.input :siape_registry, :label => false %>
    </div>

    <div>
      <%= f.label "Centro de Custo: " %>
      <%= f.input :cost_center, :label => false %>
    </div>

    <div>
      <%= f.label "Data de Admissão: " %>
      <%= f.input :admission_date, :label => false %>
    </div>
    <div>
      <%= f.label "Senha: " %>
      <%= f.input :password, :label => false %>
    </div>
    <div>
      <%= f.label "Confirmação de Senha: " %>
      <%= f.input :password_confirmation, :label => false %>
    </div>

    <br \>

  <div class="actions">
    <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), users_path , class:"btn btn-warning"%>
    <%= f.submit 'Salvar Usuário', class:"btn btn-success" %>
  </div>

<% end %>


<%= render "devise/shared/links" %>
</div>