<% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@user.errors.count, "erro") %> encontrado:</h4>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= simple_form_for(@user) do |f| %>

    <strong><hi>Nome</hi></strong>
    <%= f.input :name_user, :label => false %>

    <strong><hi>Matrícula FUB</hi></strong>
    <%= f.input :fub_registry, :label => false %>

    <strong><hi>Matrícula SIAPE</hi></strong>
    <%= f.input :siape_registry, :label => false %>

    <strong><hi>Centro de Custo</hi></strong>
    <%= f.input :cost_center, :label => false %>

    <strong><hi>Data de Admissão</hi></strong>
    <%= f.input :admission_date, :label => false %><br>

  <div class="actions">
    <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), users_path , class:"btn btn-warning"%>
    <%= f.submit 'Salvar Usuário', class:"btn btn-success" %>
  </div>

<% end %>


