<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %><br>
    <%= f.text_field :name_user %>
  </div>
  <div class="field">
    <%= f.label "Matrícula FUB" %><br>
    <%= f.text_field :fub_registry %>
  </div>
  <div class="field">
    <%= f.label "Matrícula SIAPE" %><br>
    <%= f.text_field :siape_registry %>
  </div>
  <div class="field">
    <%= f.label "Centro de Custo" %><br>
    <%= f.text_field :cost_center %>
  </div>
  <div class="field">
    <%= f.label "Data de Admissão" %><br>
    <%= f.text_field :admission_date %>
  </div>
  <div class="actions">
    <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), users_path , class:"btn btn-warning"%>
    <%= f.submit 'Cadastrar Usuário', class:"btn btn-success" %>
  </div>
<% end %>


