
<div class="container">
    <div class="row">
      <div class="page-header">
      	<p id="notice"><%= notice %></p>
        <h1>Página do Usuário</h1>
      </div>

		<table class="table table-striped">
		  <thead>
		    <tr>
		      <th>Nome:</th>
		      <th>Ocupação:</th>
		      <th>E-mail:</th>
		    </tr>
		  </thead>

		  <tbody>
		  	<tr>
		  		<td>
					<p>
						<%= @user.name_user %>
					</p>
				</td>
				<td>
					<p>
						<%= @user.job_title %>
					</p>
				</td>
				<td>
					<p>
						<%= @user.email %>
					</p>
				</td>
			</tr>
		  </tbody>
		</table>

		<div class="actions">
		     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), users_path , class:"btn btn-warning"%>
		     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Editar</i>"), edit_user_path(@user) , class:"btn btn-primary"%>
		</div>
	</div>
</div>