
<div class="container">
    <div class="row">
      <div class="page-header">
      	<p id="notice"><%= notice %></p>
        <h1>Perfil do Usuário</h1>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <b>Fase Atual</b>
            <li class="list-group-item list-group-item-info">
              <%= EvaluationPeriod.get_current_name_phase%>
            </li>
          </div>

          <table class="table ">
            <thead>
            <tr>
              <th>Nome</th>
              <th><%= @user.name_user%></th>
            </tr>

            <tr>
              <th>Matricula FUB</th>
              <th><%= @user.fub_registry%></th>
            </tr>

            <tr>
              <th>Matricula SIAPE</th>
              <th><%= @user.siape_registry%></th>
            </tr>

            <tr>
              <th>Data de Admissão</th>
              <th><%= @user.admission_date.strftime("%d/%m/%Y") %></th>
            </tr>

            <tr>
              <th>Lotação</th>
              <th><%= @user.cost_center%></th>
            </tr>

            <tr>
              <th>Email</th>
              <th><%= @user.email%></th>
            </tr>

            </thead>
          </table>

          <div class="actions">
            <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), users_path , class:"btn btn-warning"%>
            <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Editar</i>"), edit_user_path(@user) , class:"btn btn-primary"%>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <b>Avaliação</b>
          </div>
        </div>
      </div>
	</div>
</div>