<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Solução de Aprendizagem</h1>
    </div>

    <table  class="table table-striped">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Categoria</th>
        </tr>
      </thead>

      <tbody>
        <% @learning_solutions.each do |learning_solution| %>
          <tr>
            <td><%= learning_solution.description %></td>
            <td><%= learning_solution.category %></td>
            <td><%= button_to 'Editar', edit_learning_solution_path(learning_solution), class: "btn btn-primary", :method => :get %></td>
            <td><%= button_to (learning_solution.is_active_learning_solution ? "Desativar" : "Ativar"), learning_solution, tooltip: "%s Solução de Aprendizagem?" % ( learning_solution.is_active_learning_solution ? "desativar" : "ativar"), class: "btn btn-large btn-danger", method: :delete, data: {confirm: 'Tem certeza que deseja %s esta Solução de Aprendizagem?' % ( learning_solution.is_active_learning_solution ? "desativar" : "ativar")} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Cadastrar Solução de Aprendizagem</i>"), new_learning_solution_path , class:"btn btn-primary"%>

  </div>
</div>