<%= simple_form_for(@evaluation) do |f| %>
<div>

   <h4>Competências Fundamentais</h4>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Nome</th>
            <th>Nível de Desenvolvimento</th>
         </tr>
      </thead>
      <tbody>

         
        
         <%= f.fields_for :evaluation_items, @competences_fundamental do |ff| %>
         <tr>
            <td><%= ff.object.name %></td>
            <td><%= ff.select :auto_evaluation_grade, [["Não desenvolvida", 1], ["Pouco Desenvolvida", 2], ["Medianamente Desenvolvida", 3],["Muito Desenvolvida", 4],["Totalmente Desenvolvida",5]],{},{ :class => 'btn btn-primary dropdown-toggle' }%></td>
          
            
            

            </tr>
            <% end %>
      </tbody>
   </table>
   <h4>Competências Gerenciais</h4>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Nome</th>
            <th>Nível de Desenvolvimento</th>
         </tr>
      </thead>
      <tbody>

         <%= f.fields_for :evaluation_items, @competences_gerencial do |ff| %>
         <tr>
            <td><%= ff.object.name %></td>
            <td><%= ff.select :auto_evaluation_grade, [["Não desenvolvida", 1], ["Pouco Desenvolvida", 2], ["Medianamente Desenvolvida", 3],["Muito Desenvolvida", 4],["Totalmente Desenvolvida",5]],{},{ :class => 'btn btn-primary dropdown-toggle' } %></td>
            
            </tr>
            <% end %>
      </tbody>

   </table>
 
</div>
   <div>

   </div>
            
<button onclick="secondRender()"type="button" class="btn btn-primary">Avaliar Metas</button>
<%= f.submit "Submeter avaliação" %>
<% end %>