<div>
   <h4>Competências Fundamentais</h4>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Nome</th>
            <th>Nível de Desenvolvimento</th>
         </tr>
      </thead>
      <tbody>

         <% @competences_fundamental.each do |competence| %>
         <%= simple_form_for(competence) do |f| %>
         <tr>
            <td><%= competence.name %></td>
          <td> <%= f.input :auto_evaluation_grade, collection: [["Não desenvolvida", 1], ["Pouco Desenvolvida", 2], ["Medianamente Desenvolvida", 3],["Muito Desenvolvida", 4],["Totalmente Desenvolvida",5]]%></td>
          <%= f.submit "Macaco" %>
            <% end %>
            <% end %>

            </tr>
      </tbody>
   </table>
   <h4>Competências Gerenciais</h4>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Nome</th>
            <th>Nível de Desenvolvimento</th>
         </tr>
      </thead>
      <tbody>

         <% @competences_gerencial.each do |competence| %>
         <tr>
            <td><%= competence.name %></td>
            <td> <%= select(:post, :auto_evaluation_grade, [["Não desenvolvida", 1], ["Pouco Desenvolvida", 2], ["Medianamente Desenvolvida", 3],["Muito Desenvolvida", 4],["Totalmente Desenvolvida",5]],{},{ :class => 'btn btn-primary dropdown-toggle' })  %></td>
            <% end %>
            </tr>
      </tbody>

   </table>

   <div>

   </div>
</div>

