<%= simple_form_for(@evaluation) do |f| %>
<div>
<h4>Metas</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Prazo</th>
            
            <th>Nível de Desenvolvimento</th>

            
          </tr>
        </thead>

        <tbody>
          <%= f.fields_for :evaluation_items, @goals do |ff| %>
         
            <tr>
              <td><%= ff.object.name %></td>
              <td><%= ff.object.description %></td>
              <td><%= ff.object.deadline %></td>
              <td> <%= ff.select :auto_evaluation_grade, [["Não Colaborou", 1], ["Colaborou Pouco", 2], ["Colaborou Medianamente", 3],["Colaborou Muito", 4],["Colaborou Totalmente",5]],{},{ :class => 'btn btn-primary dropdown-toggle' }  %></td>
              
          <% end %>
        </tbody>
      </table>
</div>
<button onclick="thirdRender()"type="button" class="btn btn-primary">Avaliar condições de trabalho</button>
<%= f.submit "Submeter avaliação" %>
<% end %>