<%= simple_form_for(@evaluation) do |f| %>
<div>
<h4>Condições de trabalho</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Nível de Desenvolvimento</th>
            
          </tr>
        </thead>

        <tbody>
        <%= f.fields_for :evaluation_items, @workingCondition do |ff| %>
       
            <tr>
              <td><%= ff.object.name %></td>
              <td> <%= ff.select :auto_evaluation_grade, [["Concordo Plenamente", 1], ["Concordo Parcialmente", 2], ["Indiferente", 3],["Discordo Parcialmente", 4],["Discordo Totalmente",5]],{},{ :class => 'btn btn-primary dropdown-toggle' }  %></td>
              
          <% end %>
        </tbody>
      </table>
</div>
<%= f.submit "Submeter avaliação" %>
<% end %>