<h1>Listing auto_evaluations</h1>

<table>
  <thead>
    <tr>
      <th>Grade evaluation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @auto_evaluations.each do |auto_evaluation| %>
      <tr>
        <td><%= auto_evaluation.grade_evaluation %></td>
        <td><%= link_to 'Show', auto_evaluation %></td>
        <td><%= link_to 'Edit', edit_auto_evaluation_path(auto_evaluation) %></td>
        <td><%= link_to 'Destroy', auto_evaluation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to "Nova Auto-avaliação", new_auto_evaluation_path, class: "btn btn-success", :method => :get %>
