

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="login-card">
  <h1>Entrar</h1>
      <%= f.label :fub_registry, "Matrícula FUB: " %>
      <%= f.text_field :fub_registry,class: "form-control" %>

      <%= f.label :password, "Senha: " %>
      <%= f.password_field :password ,class: "form-control"%>
  </br>
     	  <%= f.submit 'Logar', class:"btn btn-success form-control" %>
        <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Cadastrar Novo Usuário</i>"), new_user_registration_path , class:"btn btn-primary form-control"%>
 </div>
<% end %>