<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR'
    });
  })
</script>

<%= form_for(@evaluation_period) do |f| %>
  <% if @evaluation_period.errors.any? %>
    <div  class="alert-error">
      <h2><%= pluralize(@evaluation_period.errors.count, "error") %> prohibited this evaluation_period from being saved:</h2>

      <ul>
      <% @evaluation_period.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_date_evaluation %><br>
    <%= f.text_field :start_date_evaluation ,'data-behaviour' => 'datepicker'%>
  </div>
  <div class="field">
    <%= f.label :end_date_evaluation %><br>
    <%= f.text_field :end_date_evaluation,'data-behaviour' => 'datepicker' %>
  </div>
  <div class=  "action">
    <%= f.submit 'Definir período', class:"btn btn-success" %>
  </div>
  
<% end %>
