<h1>Listing evaluation_periods</h1>

<table>
  <thead>
    <tr>
      <th>Start date evaluation</th>
      <th>End date evaluation</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation_periods.each do |evaluation_period| %>
      <tr>
        <td><%= evaluation_period.start_date_evaluation %></td>
        <td><%= evaluation_period.end_date_evaluation %></td>
        <td><%= link_to 'Show', evaluation_period %></td>
        <td><%= link_to 'Edit', edit_evaluation_period_path(evaluation_period) %></td>
        <td><%= link_to 'Destroy', evaluation_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation period', new_evaluation_period_path %>
