<h1>Período de Avaliação</h1>

   
  <tbody>
    <% @evaluation_periods.each do |evaluation_period| %>
      <tr>
        <td><%= evaluation_period.start_date_evaluation %></td>
        <td><%= evaluation_period.end_date_evaluation %></td>
        <td><%= link_to 'Show', evaluation_period %></td>
        <td><%= link_to 'Edit', edit_evaluation_period_path(evaluation_period) %></td>
        <td><%= link_to 'Destroy', evaluation_period, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to "Definir periodo de avaliação", new_evaluation_period_path, class: "btn btn-success", :method => :get  %>


