<h1>Período de Avaliação</h1>

  <table class="table table-striped"> 
   <thead>
    <tr>
      <th>Data de início</th>
      <th>Data de fim</th>
      
    </tr>
  </thead>
  <tbody >
    <% @evaluation_periods.each do |evaluation_period| %>
      <tr>
        <td><%= evaluation_period.start_date_evaluation.strftime("%d/%m/%Y") %></td>
        <td><%= evaluation_period.end_date_evaluation.strftime("%d/%m/%Y") %></td>
        <td><%= button_to 'Visualizar', evaluation_period, class: "btn btn-info", :method => :get %></td>
        <td><%= button_to 'Editar', edit_evaluation_period_path(evaluation_period), class: "btn btn-primary", :method => :get %></td>
        <td><%= button_to 'Excluir', evaluation_period, class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to "Definir periodo de avaliação", new_evaluation_period_path, class: "btn btn-success", :method => :get  %>


