<p id="notice"><%= notice %></p>
<table class="table table-striped">
<h1>Período de Avaliação</h1>
<% period = "#{@evaluation_period.start_date_evaluation.strftime("%d/%m/%y")} à #{@evaluation_period.end_date_evaluation.strftime("%d/%m/%y")}"%>
<h4><%=  period  %></h4>
  <thead>
    <tr>
      <th>Fase</th>
      <th>Data de início</th>
      <th>Data de fim</th>
    </tr>
  </thead>

  <tbody>
  	<% @evaluation_period.phases.each do |phase| %>
      <tr>
        <td><%= phase.phase_name %></td>
        <td><%= phase.start_date_phase.strftime("%d/%m/%Y") %></td>
        <td><%= phase.end_date_phase.strftime("%d/%m/%Y")%></td>
        <td><%= phase.status_phase %></td>
        <td><%= button_to 'Visualizar', phase, class: "btn btn-info", :method => :get %></td>
        <td><%= button_to 'Editar', edit_phase_path(phase), class: "btn btn-primary", :method => :get %></td>
        <td><%= button_to 'Excluir', phase,class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
</tbody>
</table>

<div class="actions">
     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), evaluation_periods_path , class:"btn btn-warning"%>
     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Editar</i>"), edit_evaluation_period_path(@evaluation_period) , class:"btn btn-primary"%>
    
  </div>
		