<p id="notice"><%= notice %></p>
<table class="table table-striped">
<h1>Detalhes do período</h1>
  <thead>
    <tr>
      <th>Data de início</th>
      <th>Data de fim</th>
     
    </tr>
  </thead>

  <tbody>
  	<tr>
  		<td>
			<p>
				<%= @evaluation_period.start_date_evaluation %>
			</p>
		</td>
		<td>
			<p>
				<%= @evaluation_period.end_date_evaluation %>
			</p>
		</td>	
	</tr>
</tbody>
</table>

<div class="actions">
     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), evaluation_periods_path , class:"btn btn-warning"%>
     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Editar</i>"), edit_evaluation_period_path(@evaluation_period) , class:"btn btn-primary"%>
    
  </div>
		