<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR'
    });
  })
</script>

<%= form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <form role="form">
      <div class="form-group">
        <label for="exampleInputEmail1">Título</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Insira o título da meta">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Descrição</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Insira a descrição da meta">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Prazo</label>
        <input type="date" class="form-control" id="exampleInputPassword1" >
      </div>
    </form>

  <div class=  "action">
    <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), goals_path , class:"btn btn-warning"%>
    <%= f.submit 'Nova Meta', class:"btn btn-success" %>

  </div>
<% end %>
