<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR'
    });
  })
</script>

<%= simple_form_for(@goal) do |f| %>
  <% if @goal.errors.any? %>
    <div id="error_explanation" >
      <h2><%= pluralize(@goal.errors.count, "error") %> prohibited this goal from being saved:</h2>

      <ul>
      <% @goal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span2" >
       <div class="form-group">
        <%= f.label "Título" %>
        <%= f.text_field :name_goal, class: "form-control", placeholder: "Insira um título para a meta" %>
      </div>
      <div class="form-group">
        <%= f.label "Descrição" %>
        <%= f.text_area :description_goal, class: "form-control", placeholder: "Insira uma breve descrição para a meta" %>
      </div>
      <div class="form-group">
        <%= f.label "Prazo" %>
        <%= f.text_field :deadline_goal, 'data-behaviour' => 'datepicker', class: "form-control", placeholder: "Insira um prazo para a meta" %>
      </div>
    <div class="span10" align="right" >
      <input type="checkbox" name="Declaracao"> Declaro que esta meta está de acordo com a Plano da Universidade de Brasília.

    </div>
  </div>
</div>


  <div class=  "action">
    <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), goals_path, class:"btn btn-warning"%>
    <%= f.submit 'Nova Meta', class:"btn btn-success" %>
  </div>
<% end %>
