<h1>Metas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrição</th>
      <th>Prazo</th>

    </tr>
  </thead>

  <tbody>
    <% @goals.each do |goal| %>
      <tr>
        <td><%= goal.name_goal %></td>
        <td><%= goal.description_goal %></td>
        <td><%= goal.deadline_goal %></td>
        <td><%= link_to 'Show', goal %></td>
        <td><%= button_to 'Editar', edit_goal_path(goal), class: "btn btn-primary", :method => :get %></td>
        <td><%= button_to 'Excluir', goal, class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= button_to "Nova Meta", new_goal_path, class: "btn btn-success", :method => :get %>
