<%= form_for(@competence) do |f| %>
<% if @competence.errors.any? %>
<div class="alert alert-danger">
  <h4><%= pluralize(@competence.errors.count, "error") %> prohibited this competence from being saved:</h4>

  <ul>
    <% @competence.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <%= f.label "Nome" %><br>
  </div>
  <div class="panel-body">
    <%= f.text_field :name, :width => "50%", class: "form-control" %><br>
  </div>

  <div class="panel-heading">
    <%= f.label "Categoria" %><br>
  </div>
  <div class="panel-body">
    <%= f.radio_button :category, "Fundamental" %> Fundamental <br>
    <%= f.radio_button :category, "Gerencial" %> Gerencial
  </div>
</div>

<div class="actions">
  <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), competences_path, class:"btn btn-warning"%>
  <%= f.submit 'Nova competência', class:"btn btn-success", data: {confirm: 'Você confirma que a criação desta compência é necessária e está de acordo com as normas da UnB?' % ( new_competence_path)} %>
</div>
<% end %>
