<%= form_for(@competence) do |f| %>
  <% if @competence.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@competence.errors.count, "error") %> prohibited this competence from being saved:</h4>

      <ul>
      <% @competence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
        <%= f.label "Nome" %><br>
        <%= f.text_area :name,:rows => "4",class: "form-control" %>
   </div>
   <div class="actions">
    <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), competences_path, class:"btn btn-warning"%>
    <%= f.submit 'Nova competência', class:"btn btn-success", data: {confirm: 'Você confirma que a criação desta compência é necessária e está de acordo com as normas da UnB?' % ( new_competence_path)} %>
  </div>
<% end %>
