<div class="container">
    <div class="row">
      <div class="page-header">
      <h1>Competências</h1>        
      </div>
    <h4>Competências Fundamentais</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Estado</th>
            <th>Tipo  </th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
        <% @competences_fundamental = @competences.where(:category => "Fundamental")  %>
          <% @competences_fundamental.each do |competence| %>
            <tr>
              <td><%= competence.name %></td>
              <td><%= competence.category %></td>
              <td><%= competence.is_active ? "Ativado" : "Desativado"   %></td>
              <td><%= button_to 'Editar', edit_competence_path(competence), class: "btn btn-primary", :method => :get %></td>
              <td><%= button_to (competence.is_active ? "Desativar" : "Ativar"), competence, tooltip: "%s Competência?" % ( competence.is_active ? "desativar" : "ativar"), class: "btn btn-large btn-danger", method: :delete, data: {confirm: 'Tem certeza que deseja %s esta competência?' % ( competence.is_active ? "desativar" : "ativar")} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>
    <h4>Competências Gerenciais</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Estado</th>
            <th>Tipo  </th>
            <th colspan="4"></th>
          </tr>
        </thead>

        <tbody>
        <% @competences_gerencial = @competences.where(:category => "Gerencial")  %>
          <% @competences_gerencial.each do |competence| %>
            <tr>
              <td><%= competence.name %></td>
              <td><%= competence.category %></td>
              <td><%= competence.is_active ? "Ativado" : "Desativado"   %></td>
              <td><%= button_to 'Editar', edit_competence_path(competence), class: "btn btn-primary", :method => :get %></td>
              <td><%= button_to (competence.is_active ? "Desativar" : "Ativar"), competence, tooltip: "%s Competência?" % ( competence.is_active ? "desativar" : "ativar"), class: "btn btn-large btn-danger", method: :delete, data: {confirm: 'Tem certeza que deseja %s esta competência?' % ( competence.is_active ? "desativar" : "ativar")} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <%= button_to "Nova Competência", new_competence_path, class: "btn btn-success", :method => :get %>
    </div>
</div>