<div class="container">
    <div class="row">
      <div class="page-header">
      	<p id="notice"><%= notice %></p>
        <h1>Detalhes das Competências</h1>
      </div>

	<table class="table table-striped">
		  <thead></thead>
		<tbody>		  
			<p>
			  <strong>Name competence:</strong>
			  <%= @competence.name_competence %>
			</p>

			<p>
			  <strong>Description competence:</strong>
			  <%= @competence.description_competence %>
			</p>

			<p>
			  <strong>Value competence:</strong>
			  <%= @competence.value_competence %>
			</p>
		</tbody>
	</table>

	<div class="actions">
		     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), edit_competence_path(@competence) , class:"btn btn-warning"%>
		     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Editar</i>"), competences_path , class:"btn btn-primary"%>
	</div>
</div>