<script type="text/javascript">
  $(document).ready(function(){
    $('[data-behaviour~=datepicker]').datepicker({
        format: 'dd/mm/yyyy',
        language: 'pt-BR'
    });
  })
</script>

<%= form_for(@phase) do |f| %>
  <% if @phase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
      <% @phase.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Data de início" %><br>
    <%= f.text_field :start_date_phase, 'data-behaviour' => 'datepicker'%>
  </div>
  <div class="field">
    <%= f.label "Data de fim" %><br>
    <%= f.text_field :end_date_phase,'data-behaviour' => 'datepicker' %>
  </div>
   <div class="actions">
     <%= link_to raw("<i class=\"icon-white icon-arrow-left i\">Voltar</i>"), evaluation_period_path(@phase.evaluation_period) , class:"btn btn-warning"%>
    <%= f.submit 'Definir Fase de Avaliação ', class:"btn btn-success" %>

  </div>
<% end %>
