<div class="center">
<h1>Fases do Período de avaliação</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Data de início</th>
      <th>Data de fim</th>
     
    </tr>
  </thead>

  <tbody>
    <% @phases.each do |phase| %>
      <tr>
        <td><%= phase.start_date_phase.strftime("%m/%d/%Y") %></td>
        <td><%= phase.end_date_phase.strftime("%m/%d/%Y")%></td>
        <td><%= phase.status_phase %></td>
        <td><%= button_to 'Visualizar', phase, class: "btn btn-info", :method => :get %></td>
        <td><%= button_to 'Editar', edit_phase_path(phase), class: "btn btn-primary", :method => :get %></td>
        <td><%= button_to 'Excluir', phase,class: "btn btn-danger", method: :delete, data: { confirm: 'Tem certeza que deseja excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>