  <div class="container" >
  <div class="row">
    <div class="page-header">
        <h1>Condições de Trabalho</h1>
    </div>

     <table class="table table-striped table-responsive"> 
    <thead>
      <tr>
        <th>Nome</th>
        <th>Estado</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @working_conditions.each do |working_condition| %>
        <tr>
          <td><%= working_condition.name %></td>
          <td><%= working_condition.is_active ? "Ativado" : "Desativado"   %></td>
          <td><%= button_to 'Editar', edit_working_condition_path(working_condition), class: "btn btn-primary btn-responsive", :method => :get %></td>
          <td><%= button_to (working_condition.is_active ? "Desativar" : "Ativar"), working_condition, tooltip: "%s Condição de Trabalho?" % ( working_condition.is_active ? "desativar" : "ativar"), class: "btn btn-danger btn-responsive", method: :delete, data: {confirm: 'Tem certeza que deseja %s esta condição de trabalho?' % (working_condition.is_active  ? "desativar" : "ativar")} %></td>
        </tr>
      <% end %>
    </tbody>
    </table><br>
    <%= button_to "Nova Condição", new_working_condition_path, class: "btn btn-success", :method => :get %>
  </div>
</div>
