<p id="notice"><%= notice %></p>

<p>
  <strong>Name working condition:</strong>
  <%= @working_condition.name_working_condition %>
</p>

<p>
  <strong>Description working condition:</strong>
  <%= @working_condition.description_working_condition %>
</p>

<p>
  <strong>Value working condition:</strong>
  <%= @working_condition.value_working_condition %>
</p>

<%= link_to 'Edit', edit_working_condition_path(@working_condition) %> |
<%= link_to 'Back', working_conditions_path %>
