<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Gestão de Desempenho</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="papel">

      <%= render 'shared/navbar' %>

      <div class="container white">
        <%= render partial: "shared/flash_messages", flash: flash %>
        <%= yield %>
      </div>
  </body>
</html>
